body{
    background: url(./Severe-Weather-Blog-1-1.jpg); background-size: cover;
}
input{
    margin-top: 10%;
    width: 100%;
    height: 40px;
    border: 2px solid whitesmoke;
    border-radius: 6px;
}
button{
    background-color: rgb(62, 52, 117); color: whitesmoke;
    border: 1px;
    border-radius: 6px;
    font-family:fantasy;
    width: 30%;
    height: 40px;
    margin-top: 13%;

}